<main class="mt-5">
    <div class="container">
        <div class="card mx-auto">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="https://img.freepik.com/vector-premium/ilustracion-icono-vector-logotipo-concesionario-coches_618034-883.jpg" alt="logo" style="width:150px;height:150px;display:block;">
                <h2 class="text-uppercase text-center p-4">CONCESIONARIO DADA</h2>
            </div>
            <div class="card-body text-center ">
                <p>Tu tiempo es valioso. Obten tu vehiculo en segundos.</p>
                <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
                <a href="/add" class="btn btn-outline-primary ms-2">Registrarse</a>
            </div>
                
            </body>

        </div>
    </div>

</main>